<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniUML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniUML.Properties.Settings>
            <setting name="PluginDirectory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="ThemeAssembly" serializeAs="String">
                <value>.\MiniUML.Themes.Gray.dll</value>
            </setting>
            <setting name="DefaultPageSize" serializeAs="String">
                <value>793.7007874016,1122.5196850394</value>
            </setting>
            <setting name="DefaultPageMargins" serializeAs="String">
                <value>37.7952755906,37.7952755906,37.7952755906,37.7952755906</value>
            </setting>
        </MiniUML.Properties.Settings>
    </userSettings>
</configuration>